<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


<div id="top_part">
    <div id="splash"><img src="images/cinema.jpg" alt="Cinema"></div>
    <p>Phil-Flix</p>
    <nav id="nav_bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/action">Action</a></li>
            <li><a href="/comedy">Comedy</a></li>
            <li><a href="/horror">Horror</a></li>
            <li><a href="/hentai">Hentai</a></li>
        </ul>
    </nav>
</div>

<div id="table">
    <table>
        <tr>
            <th>View All</th>
        </tr>
        <tr>
            <td><a href="/action">
                <img src="images/action.jpg"></a>
            </td>
            <td><a href="https://www.imdb.com/title/tt0088247/?ref_=nv_sr_srsg_3" target="_blank">
                <img src="images/terminator.jpg"></a>
            </td>
            <td><a href="https://www.imdb.com/title/tt0103064/?ref_=nv_sr_srsg_6" target="_blank">
                <img src="images/terminator2.jpg"></a>
            </td>
            <td><a href="https://www.imdb.com/title/tt0181852/?ref_=nv_sr_srsg_9" target="_blank">
                <img src="images/terminator3.jpg"></a>
            </td>
            <td><a href="https://www.imdb.com/title/tt0438488/?ref_=nv_sr_srsg_8" target="_blank">
                <img src="images/terminator4.jpg"></a>
            </td>
            <td><a href="https://www.imdb.com/title/tt1340138/?ref_=nv_sr_srsg_7" target="_blank">
                <img src="images/terminator5.jpg"></a>
            </td>
            <td><a href="https://www.imdb.com/title/tt6450804/?ref_=nv_sr_srsg_0" target="_blank">
                <img src="images/terminator6.jpg"></a>
            </td>
        </tr>
        <tr>
            <td><a href="/comedy">
                <img src="images/comedy.jpg"></a>
            </td>
            <td><img src="images/grownUp.jpg"></td>
            <td><img src="images/grownup2.jpg"></td>
            <td><img src="images/21jump.jpg"></td>
            <td><img src="images/22jump.jpg"></td>
            <td><img src="images/borat.jpg"></td>
            <td><img src="images/bruno.jpg"></td>
        </tr>
        <tr>
            <td><a href="/horror">
                <img src="images/horror.png"></a>
            </td>
            <td><img src="images/ring.jpg"></td>
            <td><img src="images/ring2.jpg"></td>
            <td><img src="images/grudge.jpg"></td>
            <td><img src="images/grudge2.jpg"></td>
            <td><img src="images/grudge3.jpg"></td>
            <td><img src="images/scary.jpg"></td>
        </tr>
        <tr>
            <td><a href="/hentai">
                <img src="images/hentai.jpg"></a>
            </td>
            <td><img src="images/naruto.jpg"></td>
            <td><img src="images/naruto2.jpg"></td>
            <td><img src="images/naruto3.jpg"></td>
            <td><img src="images/naruto4.jpg"></td>
            <td><img src="images/naruto5.jpg"></td>
            <td><img src="images/naruto6.jpg"></td>
        </tr>


    </table>
</div>

<footer>

    <div id="contact_info">
        <address>
            Kontakt<br>
            E-mail: phil-flix@hotmail.com<br>
            Facebook: <a href="https://www.facebook.com">Phil-Flix</a><br>
            Instagram: <a href="https://www.instagram.com">@Phil-Flix</a>
        </address>
    </div>
</footer>

</body>
</html>