<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Horror</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="top_part">
    <div id="splash"><img src="images/cinema.jpg" alt="Cinema"></div>
    <p>Phil-Flix</p>
    <nav id="nav_bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/action">Action</a></li>
            <li><a href="/comedy">Comedy</a></li>
            <li><a href="/horror">Horror</a></li>
            <li><a href="/hentai">Hentai</a></li>
        </ul>
    </nav>
</div>



<div id="table">
    <table>

        <tr>
            <td><img src="images/scary.jpg"></td>
            <td><img src="images/ring.jpg"></td>
            <td><img src="images/ring2.jpg"></td>
            <td><img src="images/grudge.jpg"></td>
            <td><img src="images/grudge2.jpg"></td>
            <td><img src="images/grudge3.jpg"></td>
            <td><img src="images/scary.jpg"></td>
        </tr>
        <tr>
            <td><img src="images/scary.jpg"></td>
            <td><img src="images/ring.jpg"></td>
            <td><img src="images/ring2.jpg"></td>
            <td><img src="images/grudge.jpg"></td>
            <td><img src="images/grudge2.jpg"></td>
            <td><img src="images/grudge3.jpg"></td>
            <td><img src="images/scary.jpg"></td>
        </tr>
        <tr>
            <td><img src="images/scary.jpg"></td>
            <td><img src="images/ring.jpg"></td>
            <td><img src="images/ring2.jpg"></td>
            <td><img src="images/grudge.jpg"></td>
            <td><img src="images/grudge2.jpg"></td>
            <td><img src="images/grudge3.jpg"></td>
            <td><img src="images/scary.jpg"></td>
        </tr>
        <tr>
            <td><img src="images/scary.jpg"></td>
            <td><img src="images/ring.jpg"></td>
            <td><img src="images/ring2.jpg"></td>
            <td><img src="images/grudge.jpg"></td>
            <td><img src="images/grudge2.jpg"></td>
            <td><img src="images/grudge3.jpg"></td>
            <td><img src="images/scary.jpg"></td>
        </tr>


    </table>
</div>

<footer>

    <div id="contact_info">
        <address>
            Kontakt<br>
            E-mail: phil-flix@hotmail.com<br>
            Facebook: <a href="https://www.facebook.com">Phil-Flix</a><br>
            Instagram: <a href="https://www.instagram.com">@Phil-Flix</a>
        </address>
    </div>
</footer>

</body>
</html>